html, body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html{
    background-color: #333;
}
body{
    background-color: #dddddd;
    width: 100vw;
    height: 100%;
}
hr{
    border: #6d6d6d solid 0.5px;
    width: 50%;
    float: left;
}
.aboutbox{
    line-height: 0.5em;
    border: #ffffff solid 1px;
    background-color: #eeeeee;
    padding: 3px 18px;
    border-radius: 30px / 35px;
    width: 45%;
    text-align: left;
}
h1{
    text-align: center;
    line-height: 0.5em;
}
p{
    line-height: 1em;
}
@media (max-width: 600px) {
    .aboutbox{
        width: calc(100% - 38px);
    }
}