:root {
    --background-color: #1a1a2e; /* Dark background */
    --card-background: rgba(255, 255, 255, 0.1); /* Transparent card background */
    --text-color: #f5f5f5; /* Light text color */
    --accent-color: #005ccc; /* Primary accent color */
    --button-color: var(--card-background); /* Initial button color to blend in */
    --button-hover-color: #e94560; /* Button color on hover */
}
a{
    color: var(--accent-color);
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    font-family: sans-serif;
    padding: 10px; /* Add some padding for mobile */
    overflow: hidden;
}

.devmsg {
    background: var(--card-background);
    padding: 20px; /* Adjust padding for mobile */
    border-radius: 34px / 30px; /* Adjust border radius for mobile */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    width: 90%; /* Default width for mobile */
}

h1 {
    color: var(--accent-color);
    margin-bottom: 15px; /* Adjust margin for mobile */
}

p {
    color: var(--text-color);
    margin-bottom: 20px; /* Adjust margin for mobile */
}

.button {
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px 15px; /* Adjust padding for mobile */
    border: none;
    border-radius: 15px / 12px; /* Adjust border radius for mobile */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: var(--accent-color);
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--accent-color);
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
}

/* Larger size for non-mobile devices */
@media (min-width: 601px) {
    .button {
        padding: 12px 20px; /* Larger button padding for larger screens */
    }
    .devmsg{
        padding-top: 0px;
        max-width: 20vw;
    }
}