html, body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html{
    background-color: #333;
}
body{
    background-color: #dddddd;
    width: 100vw;
    height: 100%;
}
.mainbody{
    padding: 10px 20px 20px 20px;
    font-size: 1.5em;
}
hr{
    border: #6d6d6d solid 0.5px;
    width: 50%;
    float: left;
}
.project:hover{
    border: #888888 solid 1px;
    background-color: #f5f5f5;
    border-radius: 30px / 35px;
    box-shadow: 0 0 17px#d1d1d1;
}
.project {
    display: flex;
    align-items: center;
    padding: 15px 18px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 30px / 35px;
    background-color: #f9f9f9;
}

.projecticon {
    max-width: 100px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px; /* Space between the image and the text */
    border-radius: 20px;
}
.project-text {
    display: flex;
    flex-direction: column;
}
.project-text {
    display: flex;
    flex-direction: column;
}
h3{
    margin: 5px;
}
p{
    margin: 5px;
}
/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    hr{
        width: 100%;
    }
    .project{
        line-height: 1em;
    }
    h1{
        text-align: center;
    }
    a{
        display: inline-block;
    }
}